.logo {
  width: 120px;
  height: 30px;
  background: rgba(151, 26, 4, 0.815);
  margin: 4px 8px 0 50px;
  float: left;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.header {
  margin-bottom: 5px;
}

.menu-setting {
  margin-right: 50px;
}
